DATABASE_URL="postgresql://USER:PASSWORD@HOST_POOLER/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require&channel_binding=require"
SESSION_SECRET="troque-esta-chave-em-producao-com-mais-de-32-caracteres"
